* {
    margin: 0;
}

body {
    background-image: url('R.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.circle {
    width: 450px;
    height: 450px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 380px;
    transform: rotateZ(23.5deg);
    z-index: 1;
}

.earth {
    position: absolute;
    /* animation: animate 20s linear 1 forwards; */
    background-image: url('bg.jpeg');
    background-size: 1100px;
    width: 10000px;
    height: 1000px;
    background-repeat: repeat-x;
    transform: translateX(0px);
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: -20px -20px 40px 10px black inset;
}


@keyframes animate {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-400px);
    }
}

.pin {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    transform: rotateZ(-23.5deg);
    cursor: pointer;
    transition: 0.2s ease;
    z-index: 3;
    top: 220px;
    left: 285px;
}


#contenedor {
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
    margin-left: 2em;
}

button {

    font-size: 15px;
    margin: 4px;
    margin-bottom: 10px;
    width: 110px;
    height: 38px;
    border-radius: 10px;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin: 1em auto 0.5em auto ;
    margin-left: 31%;
    color: white;

}

#paises {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    float: left;
}

#paises h2 {
    text-align: center;
    color: white;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 20px;
    grid-column: span 2;
}

#campo {
    position: absolute;
    top: 4.5em;
    left: 47em;
    height: 80%;
    width: 28%;
    margin-left: 14%;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    display: block;
    text-align: justify;

}

#bandera {
    margin: 0 2em 2em;
    display: block;

}

p{
    margin-left: 1.5%;
    margin-right: 1.8%
}

#regresar{
    display: none;
    margin: 2em auto auto auto;
}

#nom-pais{
    text-align: center;
}